.header {
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e5e5e5;
	height: 60px;
	width: 100%;
}

.logo {
	float: left;
	display: block;
	background-image: url('https://www.google.com/logos/doodles/2014/us-elections-2014-5687179812536320-res.png');
	width: 95px;
	height: 41px;
	background-size: 95px 41px;
}

.logo_padding_box {
	float: left;
	padding: 10px 20px 0 15px;
}

.search {
	float: left;
	height: 60px;
}

.search_box {
    float: left;
	height: 30px;
	width: 650px;
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: gray;
}

.search_box:hover {
	border: 1px;
	border-style: solid;
	border-color: black;
}

input {
	border: medium none;
	padding: 0px;
	margin: 0px;
	height: auto;
	width: 100%;
	background: url(&quot;data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D&quot;) repeat scroll 0% 0% transparent;
	left: 0px;
	outline: medium none;
}

.voice {
	background: url(data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5B…EoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=) no-repeat center;
	background-size: 14px 19px;
	display: inline-block;
	height: 23px;
	width: 17px;
}